<!--[if IE 8]><html class="ie" xmlns="https://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!DOCTYPE html>
<html lang="en-US">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<title>SLAC 2019</title>
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
			name="viewport"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/manifest.json" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffc40d" />
		<meta name="apple-mobile-web-app-title" content="SLAC 2019" />
		<meta name="application-name" content="SLAC 2019" />
		<meta name="msapplication-TileColor" content="#ffc40d" />
		<meta name="theme-color" content="#ffc40d" />
		<meta property="og:image" content="/mstile-150x150.png" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_GB" />
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:400,100,900"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="ComingSoon/css/loader.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="ComingSoon/css/normalize.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link rel="stylesheet" href="ComingSoon/css/font-awesome.min.css" />
		<link
			href="ComingSoon/css/style.css"
			rel="stylesheet"
			type="text/css"
		/>
		<!--[if lt IE 9]>
			<link
				rel="stylesheet"
				type="text/css"
				href="ComingSoon/css/ie.css"
			/>
		<![endif]-->
		<script src="ComingSoon/js/jquery.js"></script>
	</head>

	<body>
		<div class="preloader">
			<div class="loading">
				<h2>Loading...</h2>
				<span class="progress"></span>
			</div>
		</div>

		<div class="wrapper">
			<ul
				class="scene unselectable"
				data-friction-x="0.1"
				data-friction-y="0.1"
				data-scalar-x="25"
				data-scalar-y="15"
				id="scene"
			>
				<li class="layer" data-depth="0.00"></li>
				<!-- BG -->

				<li class="layer" data-depth="0.10">
					<div class="background"></div>
				</li>

				<!-- Hero -->

				<li class="layer" data-depth="0.20">
					<div class="title">
						<h2>SLAC 2019</h2>
						<span class="line"></span>
					</div>
				</li>

				<li class="layer" data-depth="0.25">
					<div class="sphere">
						<img alt="sphere" src="ComingSoon/images/sphere.png" />
					</div>
				</li>

				<li class="layer" data-depth="0.30">
					<div class="hero">
						<h1 id="countdown">The most spectacular event!</h1>
						<p class="sub-title">Coming soon!</p>
					</div>
				</li>
				<!-- Flakes -->

				<li class="layer" data-depth="0.40">
					<div class="depth-1 flake1">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth1/flakes1.png"
						/>
					</div>

					<div class="depth-1 flake2">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth1/flakes2.png"
						/>
					</div>

					<div class="depth-1 flake3">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth1/flakes3.png"
						/>
					</div>

					<div class="depth-1 flake4">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth1/flakes4.png"
						/>
					</div>
				</li>

				<li class="layer" data-depth="0.50">
					<div class="depth-2 flake1">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth2/flakes1.png"
						/>
					</div>

					<div class="depth-2 flake2">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth2/flakes2.png"
						/>
					</div>
				</li>

				<li class="layer" data-depth="0.60">
					<div class="depth-3 flake1">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth3/flakes1.png"
						/>
					</div>

					<div class="depth-3 flake2">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth3/flakes2.png"
						/>
					</div>

					<div class="depth-3 flake3">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth3/flakes3.png"
						/>
					</div>

					<div class="depth-3 flake4">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth3/flakes4.png"
						/>
					</div>
				</li>

				<li class="layer" data-depth="0.80">
					<div class="depth-4">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth4/flakes.png"
						/>
					</div>
				</li>

				<li class="layer" data-depth="1.00">
					<div class="depth-5">
						<img
							alt="flake"
							src="ComingSoon/images/flakes/depth5/flakes.png"
						/>
					</div>
				</li>
				<li class="layer" data-depth="0.20">
					<div class="contact">
						<div class="container">
							<div class="text-block-left">
								<ul class="icons">
									<li>
										<a
											href="https://www.facebook.com/face00amrita/"
											><i class="fa fa-facebook"></i
										></a>
									</li>
									<li>
										<a
											href="https://www.instagram.com/face_aseb/"
											><i class="fa fa-instagram"></i
										></a>
									</li>
									<li>
										<a
											href="https://face-amrita.firebaseapp.com/"
											><i class="fa fa-globe"></i
										></a>
									</li>
									<li>
										<a
											href="https://www.linkedin.com/company/face-aseb/"
											><i class="fa fa-linkedin"></i
										></a>
									</li>
									<li>
										<a
											href="https://face-amrita.firebaseapp.com/Blog"
											><i class="fa fa-wordpress"></i
										></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="container">
							<div class="text-block-right">
								<p>
									Made by
									<a
										href="https://www.linkedin.com/in/aravindvnair99/"
										target="_blank"
										>Aravind V. Nair</a
									>
									and
									<a
										href="https://www.linkedin.com/in/abhishek-kvs/"
										target="_blank"
										>Abhishek Sai</a
									>
								</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<script src="js/manup.js"></script>
		<script>
			if (navigator.serviceWorker.controller) {
				console.log(
					'[PWA Builder] active service worker found, no need to register'
				);
			} else {
				//Register the ServiceWorker
				navigator.serviceWorker
					.register('pwabuilder-sw.js', {
						scope: './'
					})
					.then(function(reg) {
						console.log(
							'Service worker has been registered for scope:' +
								reg.scope
						);
					});
			}
		</script>
		<script src="ComingSoon/js/plugins.js"></script>
		<script src="ComingSoon/js/jquery.countdown.min.js"></script>
		<script src="ComingSoon/js/main.js"></script>
	</body>
</html>
