<section
	id="contact"
	class="bg-img pt100 pb100"
	style="background-image: url('Main/img/bg/tickets.png');"
>
	<div class="container">
		<div class="section_title mb30">
			<h3 class="title color-light">
				Contact Us
			</h3>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3 class="">Reach out to us</h3>
				<p class="color-light">
					Amrita Vishwa Vidyapeetham University, <br />
					Kasavanahalli, Carmelaram P.O.,<br />
					Bangalore - 560 035<br />
					Karnataka, India
				</p>
			</div>
			<div class="col-md-6">
				<h3>Email us at:</h3>
				<p>
					<a
						class="contact_number"
						href="mailto:slacfest2k19@gmail.com"
						>slacfest2k19@gmail.com</a
					>
				</p>
				<h3>Contact Numbers:</h3>
				<p class="color-light">
					Ramshankar Yadhunath
					<a href="tel:+919008598855" class="contact_number"
						>(+91) 9008598855</a
					>
					<br />Rahul N Kamath
					<a href="tel:+917829866682" class="contact_number"
						>(+91) 7829866682</a
					>
					<br />Amrutha Krishnamoorthy
					<a href="tel:+919446056281" class="contact_number"
						>(+91) 9446056281</a
					>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="">Where to find us</h3>
				<p class="color-light">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2921.968031821324!2d77.67289511384277!3d12.894510220056302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13479f912c41%3A0x5919577ad754c73e!2sAmrita+School+of+Engineering!5e1!3m2!1sen!2sin!4v1549718593211"
						width="100%"
						height="400"
						frameborder="0"
						style="border:0"
						allowfullscreen
					></iframe>
				</p>
			</div>
		</div>
	</div>
</section>
