<section id="contact" class="bg-img pt100 pb100" style="background-image: url('Main/img/bg/tickets.png');">
	<div class="container">
		<div class="section_title mb30">
			<h3 class="title color-light">
				Contact Us
			</h3>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3 class="">Where to find us</h3>
				<p>
					Amrita Vishwa Vidyapeetham University, <br />
					Kasavanahalli, <br />
					Carmelaram P.O., Bangalore <br />
					560 035 <br />
					Karnataka, India
				</p>
			</div>
			<div class="col-md-6">
				<h3>Email us at:</h3>
				<p>
					<a href="mailto:slacfest2k19@gmail.com">slacfest2k19@gmail.com</a>
				</p>
				<h3>Contact Numbers:</h3>
				<p>
					Mobile:
					<br />Ramshankar Yadhunath
					<a href="tel:+919008598855">(+91) 9008598855</a>
					<br />Rahul N Kamath
					<a href="tel:+917829866682">(+91) 7829866682</a>
					<br />Amrutha Krishnamoorthy
					<a href="tel:+919446056281">(+91) 9446056281</a>
				</p>
			</div>
		</div>
	</div>
</section>