<footer>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4 col-12">
				<div class="footer_box">
					<div class="footer_header">
						<div class="footer_logo">
							<img
								src="Main/img/logo_footer.png"
								alt="SLAC 2019"
							/>
						</div>
					</div>
					<div class="footer_box_body">
						<ul class="footer_social">
							<li>
								<a
									target="_blank"
									href="https://twitter.com/slacfest2k19"
									><i class="ion-social-twitter"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									href="https://instagram.com/face_aseb/"
									><i class="ion-social-instagram"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									href="https://linkedin.com/company/face-aseb/"
									><i class="ion-social-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="footer_box">
					<div class="footer_header">
						<h4 class="footer_title" style="color:#FC0;">
							About the Organizers
						</h4>
					</div>
					<div class="footer_box_body">
						<p style="color:white;">
							SLAC 2019 is organized by FACE (Forum for Aspiring
							Computer Engineers), the CSE Departmental forum at
							ASE-B. FACE is a pro-coding technical club at
							college and we conduct workshops, coding events and
							tech talks at college. <br />
							To know more about us you can visit our website by
							clicking
							<a
								class="team_credits"
								href="http://face-amrita.firebaseapp.com"
								target="_blank"
							>
								here
							</a>
						</p>
					</div>
					<!-- <div class="footer_box_body">
								<ul class="instagram_list">
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c1.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c2.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c1.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c2.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c1.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c2.png"
												alt="instagram"
											/>
										</a>
									</li>
								</ul>
							</div> -->
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="footer_box">
					<div class="footer_header">
						<h4 class="footer_title" style="color:hotpink;">
							Wish to sponsor us
						</h4>
					</div>
					<div class="footer_box_body">
						<div class="newsletter_form">
							<form
								action="https://formspree.io/slacfest2k19@gmail.com"
								method="post"
							>
								<input
									name="Full Name"
									type="text"
									minlength="2"
									class="form-control"
									placeholder="Full Name"
									required
								/>
								<input
									name="Email"
									type="email"
									class="form-control"
									placeholder="E-Mail here"
									required
								/>
								<input
									name="Subject"
									type="text"
									class="form-control"
									placeholder="Subject"
									required
								/>
								<input
									name="Message"
									type="text"
									class="form-control"
									placeholder="Message"
									required
									rows="10"
									cols="50"
								/>
								<button
									type="submit"
									class="btn btn-rounded btn-block btn-primary"
								>
									Get in touch
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
