<header class="header navbar fixed-top navbar-expand-md">
	<div class="container">
		<a class="navbar-brand logo" href="#">
			<img src="Main/img/logo.png" alt="SLAC 2019" />
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#headernav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="lnr lnr-text-align-right"></span>
		</button>
		<div
			class="collapse navbar-collapse flex-sm-row-reverse"
			id="headernav"
		>
			<ul class=" nav navbar-nav menu">
				<li class="nav-item">
					<a class="nav-link active" href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#pricing">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/ComingSoon">Itinerary</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#sponsors">Sponsors</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</header>