<!DOCTYPE html>
<html lang="en">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Stay Late and Code" />
		<meta
			name="keywords"
			content="SLAC 2019, Hackathon, Coding, Programming "
		/>
		<meta
			name="author"
			content="Aravind V. Nair, Aditya D, Abhishek Sai "
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffc40d" />
		<meta name="apple-mobile-web-app-title" content="SLAC 2019" />
		<meta name="application-name" content="SLAC 2019" />
		<meta name="msapplication-TileColor" content="#ffc40d" />
		<meta name="theme-color" content="#ffc40d" />
		<!-- <meta property="og:image" content="/android-chrome-512x512.png" /> -->
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_GB" />
		<title>SLAC 2019</title>
		<link href="Main/css/bootstrap.min.css" rel="stylesheet" />
		<link href="Main/css/font-awesome.min.css" rel="stylesheet" />
		<link href="Main/css/et-line.css" rel="stylesheet" />
		<link href="Main/css/ionicons.min.css" rel="stylesheet" />
		<link href="Main/css/owl.carousel.min.css" rel="stylesheet" />
		<link href="Main/css/owl.theme.default.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="Main/css/animate.min.css" />
		<link href="Main/css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
		<header class="header navbar fixed-top navbar-expand-md">
			<div class="container">
				<a class="navbar-brand logo" href="#">
					<img
						style="height:60px;"
						src="Main/img/logo.png"
						alt="SLAC 2019"
					/>
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#headernav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="lnr lnr-text-align-right"></span>
				</button>
				<div
					class="collapse navbar-collapse flex-sm-row-reverse"
					id="headernav"
				>
					<ul class=" nav navbar-nav menu">
						<li class="nav-item">
							<a class="nav-link active" href="#home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#pricing">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#itenary">Itenary</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#sponsors">Sponsors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<section id="home" class="home-cover">
			<div class="particles-js">
				<div class="cover_slider owl-carousel owl-theme">
					<div
						class="cover_item"
						style="background: url('Main/img/bg/slider.png');"
					>
						<div class="slider_content">
							<div class="slider-content-inner">
								<div class="container">
									<div class="slider-content-center">
										<h2 class="cover-title">
											Prepare yourself for
										</h2>
										<strong class="cover-xl-text"
											>SLAC 2019</strong
										>
										<p class="cover-date">
											30-31 March 2019 - Amrita School of
											Engineering, Bangalore.
										</p>
										<a
											href="#pricing"
											class=" btn btn-primary btn-rounded"
										>
											Register Now
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="cover_item"
						style="background: url('Main/img/bg/slider.png');"
					>
						<div class="slider_content">
							<div class="slider-content-inner">
								<div class="container">
									<div class="slider-content-left">
										<h2 class="cover-title">
											Prepare yourself for
										</h2>
										<strong class="cover-xl-text"
											>SLAC 2019</strong
										>
										<p class="cover-date">
											30-31 March 2019 - Amrita School of
											Engineering, Bangalore.
										</p>
										<a
											href="#pricing"
											class=" btn btn-primary btn-rounded"
										>
											Register Now
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="cover_item"
						style="background: url('Main/img/bg/slider.png');"
					>
						<div class="slider_content">
							<div class="slider-content-inner">
								<div class="container">
									<div class="slider-content-center">
										<h2 class="cover-title">
											Prepare yourself for
										</h2>
										<strong class="cover-xl-text"
											>SLAC 2019</strong
										>
										<p class="cover-date">
											30-31 March 2019 - Amrita School of
											Engineering, Bangalore.
										</p>
										<a
											href="#pricing"
											class=" btn btn-primary btn-rounded"
										>
											Register Now
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cover_nav">
					<ul class="cover_dots">
						<li class="active" data="0.html"><span>1</span></li>
						<li data="1.html"><span>2</span></li>
						<li data="2.html"><span>3</span></li>
					</ul>
				</div>
			</div>
		</section>

		<section class="pt100 pb100">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-6 col-md-3  ">
						<div class="icon_box_two">
							<i class="lnr lnr-calendar-full"></i>
							<div class="content">
								<h5 class="box_title">
									DATE
								</h5>
								<p>
									30-31 March 2019
								</p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-3  ">
						<div class="icon_box_two">
							<i class="ion-ios-location"></i>
							<div class="content">
								<h5 class="box_title">
									location
								</h5>
								<p>
									Amrita School of Engineering, Bangalore.
								</p>
							</div>
						</div>
					</div>
					<!-- <div class="col-6 col-md-3  ">
						<div class="icon_box_two">
							<i class="ion-ios-person-outline"></i>
							<div class="content">
								<h5 class="box_title">
									speakers
								</h5>
								<p>
									Natalie James + guests
								</p>
							</div>
						</div>
					</div> -->
					<div class="col-6 col-md-3  ">
						<div class="icon_box_two">
							<i class="fa fa-tags" aria-hidden="true"></i>
							<div class="content">
								<h5 class="box_title">
									Tickets
								</h5>
								<p>
									₹400 Early Bird
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section
			class="bg-img pt70 pb70"
			style="background-image: url('Main/img/bg/bg-img.png');"
		>
			<div class="overlay_dark"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10">
						<h4 class="mb30 text-center color-light">
							Counter until the big event
						</h4>
						<div class="countdown"></div>
					</div>
				</div>
			</div>
		</section>

		<section id="about" class="pt100 pb100">
			<div class="container">
				<div class="section_title">
					<h3 class="title">
						SLAC in a Nutshell
					</h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-6">
						<p>
							Stay Late and Code (SLAC) is the annual 24 hour
							college level hackathon at Amrita School of
							Engineering, Bangalore conducted by the school's CSE
							Departmental Forum, FACE where the participants at
							the event appear from colleges all across South
							India.
						</p>
					</div>
					<div class="col-12 col-md-6">
						<p>
							At SLAC, we provide the participants with a
							platform, provide them with all the required
							facilities for a hackathon and a conducive
							environment to support effective coding. SLAC gives
							undergraduate students an opportunity to meet like
							minded individuals from other institutions and share
							ideas and opinions.
						</p>
					</div>
				</div>

				<div class="row justify-content-center mt30">
					<div class="col-12 col-md-6 col-lg-3">
						<div class="icon_box_one">
							<i class="lnr lnr-users"></i>
							<div class="content">
								<h4>300 Average Turnout</h4>
								<p>
									SLAC in the last 8 editions has always had
									around 300 undergraduate student developers
									from all branches and all years and multiple
									colleges.
								</p>
								<a
									target="_blank"
									href="https://faceaseb.wordpress.com/?s=slac"
									>read more</a
								>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="icon_box_one">
							<i class="lnr lnr-rocket"></i>
							<div class="content">
								<h4>24 hrs Hackathon</h4>
								<p>
									Teams at SLAC have 24 hours to ideate their
									plan, design their solution and implement it
									as an end-to-end application.
								</p>
								<a
									target="_blank"
									href="https://faceaseb.wordpress.com/?s=slac"
									>read more</a
								>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="icon_box_one">
							<i class="lnr lnr-bullhorn"></i>
							<div class="content">
								<h4>8 past editions</h4>
								<p>
									In the past 8 versions of SLAC, we have
									witnessed a total of 2000+ undergraduate
									students develop effective software
									solutions born out of ideas that store the
									potential of being life changing
									breakthroughs in their respective domains.
								</p>
								<a
									target="_blank"
									href="https://faceaseb.wordpress.com/?s=slac"
									>read more</a
								>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="icon_box_one">
							<i class="lnr lnr-graduation-hat"></i>
							<div class="content">
								<h4>20+ Colleges</h4>
								<p>
									SLAC has had participants from over 20+
									colleges in all its editions combined, with
									few notable institutions being Amrita School
									of Engineering, PES, KSIT, Dayanand Sagar
									Institute etc.
								</p>
								<a
									target="_blank"
									href="https://faceaseb.wordpress.com/?s=slac"
									>read more</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="pb100">
			<div class="container">
				<div class="section_title mb50">
					<h3 class="title">
						The Theme
					</h3>
					<p>
						We believe that the use of clean code and open source
						platforms coupled with creativity and a pinch of an EVS
						lesson at college, can produce the most efficient and
						sustainable solutions for the future. In wake of this,
						the theme for SLAC 2019 is the
						<b>United Nations Sustainable Development Goals.</b>
					</p>
				</div>
			</div>
			<div class="row justify-content-center no-gutters">
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img src="Main/img/sdg/1.png" alt="No poverty" />
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img src="Main/img/sdg/2.jpg" alt="Zero Hunger" />
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img src="Main/img/sdg/3.jpg" alt="Good Health" />
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/4.jpg"
								alt="Quality Education"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/5.jpg"
								alt="Gender Equality"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/6.jpg"
								alt="Clean water and Sanitation"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/7.jpg"
								alt="Affordable and clean energy"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/8.jpg"
								alt="Good job and economy growth"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/9.jpg"
								alt="Innovation and Infrastructure"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/10.jpg"
								alt="Reduced Inequalities"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/11.jpg"
								alt="Sustainable cities and communities"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/12.jpg"
								alt="Responsible consumption"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/13.jpg"
								alt="Climate Action"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/14.jpg"
								alt="Life below water"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img src="Main/img/sdg/15.jpg" alt="Life on land" />
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/16.jpg"
								alt="Peace, Justice and Strong Institutions"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="speaker_box">
						<div class="speaker_img">
							<img
								src="Main/img/sdg/17.jpg"
								alt="Partnerships for the goals"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="pricing" class="pb100">
			<div class="container">
				<div class="section_title mb50">
					<h3 class="title">
						Tickets
					</h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-12">
						<div class="price_box active">
							<div class="price_highlight">
								recommended
							</div>
							<div class="price_header">
								<h4>
									Early Bird
								</h4>
								<h6>
									For the Enthusiastic ones
								</h6>
							</div>
							<div class="price_tag">TBA<sup></sup></div>
							<div class="price_features">
								<ul>
									<li>
										SWAG
									</li>
								</ul>
							</div>
							<div class="price_footer">
								<a href="#" class="btn btn-primary btn-rounded"
									>Purchase</a
								>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-12">
						<div class="price_box">
							<div class="price_header">
								<h4>
									Regular
								</h4>
								<h6>
									For the Beginners
								</h6>
							</div>
							<div class="price_tag">TBA<sup></sup></div>
							<div class="price_features">
								<ul>
									<li>
										SWAG
									</li>
								</ul>
							</div>
							<div class="price_footer">
								<a href="#" class="btn btn-primary btn-rounded"
									>Purchase</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- <section id="itenary" class="pb100">
			<div class="container">
				<div class="table-responsive">
					<table class="event_calender table">
						<thead class="event_title">
							<tr>
								<th>
									<i class="lnr lnr-calendar-full"></i>
									<span>The Itenary</span>
								</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img
										src="Main/img/cleander/c1.png"
										alt="event"
									/>
								</td>
								<td class="event_date">
									30
									<span>March</span>
								</td>
								<td>
									<div class="event_place">
										<h5>First Day</h5>
										<h6>09 AM - 10 AM</h6>
										<p>Inauguration</p>
										<h6>10 AM - 12 AM</h6>
										<p>Coding</p>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<img
										src="Main/img/cleander/c2.png"
										alt="event"
									/>
								</td>
								<td class="event_date">
									31
									<span>March</span>
								</td>
								<td>
									<div class="event_place">
										<h5>Second Day</h5>
										<h6>12 AM - 8 AM</h6>
										<p>Coding</p>
										<h6>8 AM - 11 AM</h6>
										<p>Proof Reading</p>
										<h6>11 AM - 12 PM</h6>
										<p>Prize Distribution</p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section> -->

		<section id="sponsors" class="bg-gray pt100 pb100">
			<div class="container">
				<div class="section_title mb50">
					<h3 class="title">
						Our Past Sponsors
					</h3>
				</div>
				<div class="brand_carousel owl-carousel">
					<div class="brand_item text-center">
						<img src="Main/img/brands/b1.png" alt="brand" />
					</div>
					<div class="brand_item text-center">
						<img src="Main/img/brands/b2.png" alt="brand" />
					</div>
					<div class="brand_item text-center">
						<img src="Main/img/brands/b3.png" alt="brand" />
					</div>
					<div class="brand_item text-center">
						<img src="Main/img/brands/b4.png" alt="brand" />
					</div>
					<div class="brand_item text-center">
						<img src="Main/img/brands/b5.png" alt="brand" />
					</div>
				</div>
			</div>
		</section>

		<section id="sponsors" class="bg-gray pt100 pb100">
			<div class="container">
				<div class="section_title mb50">
					<h3 class="title">
						Our Sponsors
					</h3>
				</div>
				<div class="brand_carousel owl-carousel">
					<div class="brand_item text-center">
						Will be announced soon. Contact us to be a sponsor or
						partner.
					</div>
				</div>
			</div>
		</section>

		<section
			id="contact"
			class="bg-img pt100 pb100"
			style="background-image: url('Main/img/bg/tickets.png');"
		>
			<div class="container">
				<div class="section_title mb30">
					<h3 class="title color-light">
						Contact Us
					</h3>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3 class="">Where to find us</h3>
						<p>
							Amrita Vishwa Vidyapeetham University, <br />
							Kasavanahalli, <br />
							Carmelaram P.O., Bangalore <br />
							560 035 <br />
							Karnataka, India
						</p>
					</div>
					<div class="col-md-6">
						<h3>Email us at:</h3>
						<p>
							<a href="mailto:amritaface@gmail.com"
								>amritaface@gmail.com</a
							>
						</p>
						<h3>Contact Numbers:</h3>
						<p>
							Mobile:
							<a href="tel:+919148579702">(+91) 9148579702</a>
						</p>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-4 col-12">
						<div class="footer_box">
							<div class="footer_header">
								<div class="footer_logo">
									<img
										src="Main/img/logo.png"
										alt="SLAC 2019"
									/>
								</div>
							</div>
							<div class="footer_box_body">
								<ul class="footer_social">
									<li>
										<a
											target="_blank"
											href="https://www.facebook.com/face00amrita/"
											><i class="ion-social-facebook"></i
										></a>
									</li>
									<li>
										<a
											target="_blank"
											href="https://twitter.com/slackfest2k19"
											><i class="ion-social-twitter"></i
										></a>
									</li>
									<li>
										<a
											target="_blank"
											href="https://www.instagram.com/face_aseb/"
											><i class="ion-social-instagram"></i
										></a>
									</li>
									<li>
										<a
											target="_blank"
											href="https://www.linkedin.com/company/face-aseb/"
											><i class="ion-social-linkedin"></i
										></a>
									</li>
									<li>
										<a
											target="_blank"
											href="https://face-amrita.firebaseapp.com/Blog"
											><i class="ion-social-wordpress"></i
										></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="footer_box">
							<div class="footer_header">
								<h4 class="footer_title">
									About the Organizers
								</h4>
							</div>
							<div class="footer_box_body">
								<p>
									SLAC 2019 is organized by FACE (Forum for
									Aspiring Computer Engineers), the CSE
									Departmental forum at ASE-B. FACE is a
									pro-coding technical club at college and we
									conduct workshops, coding events and tech
									talks at college. <br />
									To know more about us you can visit our
									website by clicking
									<a
										class="team_credits"
										href="http://face-amrita.firebaseapp.com"
										target="_blank"
									>
										here
									</a>
								</p>
							</div>

							<!-- <div class="footer_box_body">
								<ul class="instagram_list">
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c1.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c2.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c1.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c2.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c1.png"
												alt="instagram"
											/>
										</a>
									</li>
									<li>
										<a href="#">
											<img
												src="Main/img/cleander/c2.png"
												alt="instagram"
											/>
										</a>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="footer_box">
							<div class="footer_header">
								<h4 class="footer_title">
									Wish to sponsor us
								</h4>
							</div>
							<div class="footer_box_body">
								<div class="newsletter_form">
									<form
										action="https://formspree.io/amritaface@gmail.com"
										method="post"
									>
										<input
											name="Full Name"
											type="text"
											minlength="2"
											class="form-control"
											placeholder="Full Name"
											required
										/>
										<input
											name="Email"
											type="email"
											class="form-control"
											placeholder="E-Mail here"
											required
										/>
										<input
											name="Subject"
											type="text"
											class="form-control"
											placeholder="Subject"
											required
										/>
										<input
											name="Message"
											type="text"
											class="form-control"
											placeholder="Message"
											required
											rows="10"
											cols="50"
										/>
										<button
											type="submit"
											class="btn btn-rounded btn-block btn-primary"
										>
											Get in touch
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copyright_footer">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 col-12">
						<p>
							Copyright <span class="colour_icons">&copy;</span>
							<script>
								document.write(new Date().getFullYear());
							</script>
							| All rights reserved
							<span class="colour_icons">&reg;</span>
						</p>
					</div>
					<div class="col-12 col-md-6 ">
						<ul class="footer_menu">
							<li>
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#about">About</a>
							</li>
							<li>
								<a href="#pricing">Pricing</a>
							</li>
							<li>
								<a href="#itenary">Itenary</a>
							</li>
							<li>
								<a href="#sponsors">Sponsors</a>
							</li>
							<li>
								<a href="#contact">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12">
						<p>
							Made and maintained with
							<i
								class="fa fa-heart-o colour_icons"
								aria-hidden="true"
							></i>
							by
							<a
								class="team_credits"
								href="https://linkedin.com/in/aravindvnair99"
								target="_blank"
								>Aravind V. Nair</a
							>,
							<a
								class="team_credits"
								href="https://www.linkedin.com/in/abhishek-kvs"
								target="_blank"
								>Abhishek Sai</a
							>
							and
							<a
								class="team_credits"
								href="http://adityaudapudi.firebaseapp.com"
								target="_blank"
								>Aditya Deepak Udapudi</a
							>
						</p>
					</div>
				</div>
			</div>
		</div>
		<script src="Main/js/jquery.min.js"></script>
		<script src="Main/js/popper.js"></script>
		<script src="Main/js/bootstrap.min.js"></script>
		<script src="Main/js/waypoints.min.js"></script>
		<script src="Main/js/owl.carousel.min.js"></script>
		<script src="Main/js/parallax.min.js"></script>
		<script src="Main/js/jquery.counterup.min.js"></script>
		<script src="Main/js/jquery.countdown.min.js"></script>
		<script src="Main/js/wow.min.js"></script>
		<script src="Main/js/main.js"></script>
	</body>
</html>
