<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sponsorship | SLAC 2019</title>
		<link href="Main/css/sponsorship.css" rel="stylesheet" />
		<meta property="og:title" content="Sponsorship | SLAC 2019" />
		<meta property="og:url" content="https://slacfest.in/Sponsorship" />
		<% include ga.ejs %> <% include meta.ejs %> <% include links.ejs %>
	</head>
	<body>
		<% include loader.ejs %> <% include header.ejs %>
		<div
			class="pricingdiv"
			style="padding-top: 10%; padding-bottom: 10%; background-color: #8b7d6b;"
		>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<ul class="theplan">
							<li class="title"><b>Kilo</b></li>
							<li><b>Cost:</b> ₹10,000</li>
							<li><b>Brand Promotion:</b>Yes</li>

							<li><b>Logo on Banners:</b> No</li>
							<li><b>Get Featured in Video Teaser:</b> No</li>
							<li><b>Send Judges:</b> No</li>
							<li><b>Organize Workshop:</b> No</li>
							<li></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="theplan" style="background-color: #e53499;">
							<li class="title">
								<span
									class="icon-trophy"
									style="color:yellow"
								></span>
								<b>Mega</b>
							</li>
							<li><b>Cost:</b> ₹30,000</li>
							<li><b>Brand Promotion:</b>Yes</li>

							<li><b>Logo on Banners:</b> Yes</li>
							<li><b>Get Featured in Video Teaser:</b> Yes</li>
							<li><b>Send Judges:</b> No</li>
							<li><b>Organize Workshop:</b> No</li>
							<li></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="theplan" style="background-color: #2a2cc8">
							<li class="title"><b>Giga</b></li>
							<li><b>Cost:</b> ₹60,000</li>
							<li><b>Brand Promotion:</b>Yes</li>

							<li><b>Logo on Banners:</b> Yes</li>
							<li><b>Get Featured in Video Teaser:</b> Yes</li>
							<li><b>Send Judges:</b> Yes</li>
							<li><b>Organize Workshop:</b> Yes</li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-4 col-12">
						<div class="footer_box">
							<div class="footer_header">
								<div class="footer_logo">
									<img
										src="Main/img/logo.png"
										alt="SLAC 2019"
									/>
								</div>
							</div>
							<div class="footer_box_body">
								<ul class="footer_social">
									<li>
										<a
											target="_blank"
											href="https://facebook.com/face00amrita/"
											><i class="ion-social-facebook"></i
										></a>
									</li>
									<li>
										<a
											target="_blank"
											href="https://twitter.com/slacfest2k19"
											><i class="ion-social-twitter"></i
										></a>
									</li>
									<li>
										<a
											target="_blank"
											href="https://instagram.com/face_aseb/"
											><i class="ion-social-instagram"></i
										></a>
									</li>
									<li>
										<a
											target="_blank"
											href="https://linkedin.com/company/face-aseb/"
											><i class="ion-social-linkedin"></i
										></a>
									</li>
									<li>
										<a
											target="_blank"
											href="https://face-amrita.firebaseapp.com/Blog"
											><i class="ion-social-wordpress"></i
										></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="footer_box">
							<div class="footer_header">
								<h4 class="footer_title">
									About the Organizers
								</h4>
							</div>
							<div class="footer_box_body">
								<p>
									SLAC 2019 is organized by FACE (Forum for
									Aspiring Computer Engineers), the CSE
									Departmental forum at ASE-B. FACE is a
									pro-coding technical club at college and we
									conduct workshops, coding events and tech
									talks at college. <br />
									To know more about us you can visit our
									website by clicking
									<a
										class="team_credits"
										href="http://face-amrita.firebaseapp.com"
										target="_blank"
									>
										here
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="footer_box">
							<div class="footer_header">
								<h4 class="footer_title">
									Wish to sponsor us
								</h4>
							</div>
							<div class="footer_box_body">
								<div class="newsletter_form">
									<form
										action="https://formspree.io/slacfest2k19@gmail.com"
										method="post"
									>
										<input
											name="Full Name"
											type="text"
											minlength="2"
											class="form-control"
											placeholder="Full Name"
											required
										/>
										<input
											name="Email"
											type="email"
											class="form-control"
											placeholder="E-Mail here"
											required
										/>
										<input
											name="Subject"
											type="text"
											class="form-control"
											placeholder="Subject"
											required
										/>
										<input
											name="Message"
											type="text"
											class="form-control"
											placeholder="Message"
											required
											rows="10"
											cols="50"
										/>
										<button
											type="submit"
											class="btn btn-rounded btn-block btn-primary"
										>
											Get in touch
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copyright_footer">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 col-12">
						<p>
							Copyright <span class="colour_icons">&copy;</span>
							<script>
								document.write(new Date().getFullYear());
							</script>
							| All rights reserved
							<span class="colour_icons">&reg;</span>
						</p>
					</div>
					<div class="col-12 col-md-6 ">
						<ul class="footer_menu">
							<li>
								<a href="/#">Home</a>
							</li>
							<li>
								<a href="/#about">About</a>
							</li>
							<li>
								<a href="/#pricing">Pricing</a>
							</li>
							<li>
								<a href="/#itinerary">Itinerary</a>
							</li>
							<li>
								<a href="/#sponsors">Sponsors</a>
							</li>
							<li>
								<a href="/#contact">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12">
						<p>
							Made and maintained with
							<i
								class="fa fa-heart-o colour_icons"
								aria-hidden="true"
							></i>
							by
							<a
								class="team_credits"
								href="https://linkedin.com/in/aravindvnair99"
								target="_blank"
								>Aravind V. Nair</a
							>,
							<a
								class="team_credits"
								href="https://linkedin.com/in/abhishek-kvs"
								target="_blank"
								>Abhishek Sai</a
							>
							and
							<a
								class="team_credits"
								href="http://adityaudapudi.firebaseapp.com"
								target="_blank"
								>Aditya Deepak Udapudi</a
							>
						</p>
					</div>
				</div>
			</div>
		</div>
		<% include scripts.ejs %>
	</body>
</html>
